.dashboard__page{
    top: 0;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .description{
        margin-top: 14px;
        overflow-wrap: break-word;
        text-align: center;
        width: 140px;
    }
    .content-container{
        margin-top: 28px;
        .input-group{
            display: flex;
            justify-content: flex-end;
            align-items: stretch;
            .input-group__item{
                display: flex;

                width: 100%;
                .text-input{
                    margin-left: 30px;
                    height: 43px;
                    width: 100%;
                    background-color: rgba(4, 15, 22, 0.05);
                    border: none;
                    border-radius: 5px;
                    font-family: SfCompactRoundedMedium;
                    font-size: 18px;
                    color: $black;
                    box-sizing: border-box;
                    padding-left: 22px;
                    &::placeholder{
                        color: $black;
                    }
                }
                .link{
                    background-color: $white;
                    height: 43px;
                    width: 43px;
                    margin-right: 28px;
                    margin-left: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    box-shadow: 0px 3px 5px 0px rgba(4,15,22,0.15);
                }
                .select{
                    height: 43px;
                    width: 43px;
                    margin-right: 30px;
                    background-color: $white;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0px 3px 5px 0px rgba(4,15,22,0.15);
                }
            }
        }
    }
    .list-body{
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        margin-bottom: 104px;
        width: 100vw;
        .list-item--message{
            text-align: center;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 28px;
        }
        .list-item{
            margin-left: 30px;
            margin-right: 30px;
            height: 43px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 3px 10px 0px rgba(4,15,22,0.25);
            color: $black;
            margin-top: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .list-item__title{
                margin-left: 22px;
            }
            .list-item__sub-title{
                margin-right: 22px;
            }
        }
    }
}