.type__page{
    top: 0;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .page-header{
        margin-top: 14px;
        overflow-wrap: break-word;
        text-align: center;
        width: 140px;
    }
    .type__boxes{
        margin-bottom: 104px;
        margin-top: 28px;
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        grid-template-rows: 237px 28px 237px;
        gap: 0px 0px;
        grid-template-areas:
        ". blood--addBox ."
        ". . ."
        ". liver--addBox .";
        .blood--addBox { grid-area: blood--addBox; }
        .liver--addBox { grid-area: liver--addBox; }
        .linkBox{
            background-color: $white;
            border-radius: 10px;
            box-shadow: 3px 0px 25px 3px rgba(0,0,0,0.3);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 330px;
            .box__logo{
                margin-top: 45px;
                margin-bottom: 45px;
            }
            .button{
                position: relative;
                background-color: $black;
                border-radius: 5px;
                height: 43px;
                width: 260px;
                display: flex;
                justify-content: center;
                align-items: center;
                .button--text{
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}