.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .content{
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0px 3px 10px 0px rgba(4,15,22,0.25);
        width: 330px;
        margin: 0px 30px;
        margin-bottom: 28px;
        .content-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            box-shadow: 0px 3px 5px -5px #000000;
            h3{
                margin: 14px;
                overflow-wrap: break-word;
                text-align: left;
                width: 198.76px;
            }
            h4{
                margin: 14px;
                overflow-wrap: break-word;
                text-align: right;
                font-family: SfCompactRoundedRegular;
            }
            img{
                margin: 14px;
                height: 10px;
                width: 17.49px;
            }
        }
        .sub__content-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            box-shadow: 0px 3px 5px -5px #000000;
            h4{
                margin: 14px 28px 14px 28px;
                font-family: SfCompactRoundedRegular;
            }
        }
    }
}